
h1 {
    font-size : 30px;
    font-weight: bold;
    text-align: center;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: blue;
    :visited{
        text-decoration: none;
    }
}